{% extends "base.html" %}
{% block content %}

<div class="row">
    {% load crispy_forms_tags %}
    <!-- left sidebar -->
     {% comment %} load sidebar {% endcomment %}
     {% include "dashboard/sidebar.html" %}
     <div class="col-md-9">
        <h2 >ADD New Category</h2>
        <form action="{% url 'add_category' %}" method="POST" style="width:500px;">
            {% csrf_token %}
            {{form | crispy}}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        
       
     </div>


    <!-- right side content -->
</div>

{% endblock content %}